<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Two-Tier DevOps App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🚀 Two-Tier DevOps App</h1>
    <p class="subtitle">Flask + MySQL | Docker | Jenkins CI/CD</p>

    <div class="card">
        <h2>👀 Total Visits</h2>
        <p class="count">{{ visits }}</p>
    </div>

    <div class="footer">
        <p>Built by Prashoharan</p>
    </div>
</div>

</body>
</html>
